[submodule "imgui-sfml-boilerplate/external/imgui-sfml"]
	path = imgui-sfml-boilerplate/external/imgui-sfml
	url = https://github.com/amuuu/imgui-sfml
[submodule "imgui-sfml-boilerplate/external/imgui"]
	path = imgui-sfml-boilerplate/external/imgui
	url = https://github.com/amuuu/imgui
